header.header
    +img('logo.svg').logo
    a(href="tel:"+phoneNumberHref+"").header-telephone
        .button.icon.hvr-buzz
            +svg('tel-tube')
        span #{phoneNumber}
    .menu-button 
        span Menu
        <svg width="20" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="39.4999" width="29" height="1" transform="rotate(-90 0.5 39.4999)" fill="#B3717B" stroke="#B3717B"/>
        <rect x="9.5" y="39.4999" width="39" height="1" transform="rotate(-90 9.5 39.4999)" fill="#B3717B" stroke="#B3717B"/>
        <rect x="18.5" y="39.4999" width="17" height="1" transform="rotate(-90 18.5 39.4999)" fill="#B3717B" stroke="#B3717B"/>
        </svg>
.lang-block
    a.lang UK
    a.lang.active RU
    a.lang EN



