menu.top-menu
    a(href="/").menu-logo
        +img('logo.svg').logo
    .top-menu__content
        .top-menu__top-blocks
            +img('common/logo-white.svg').logo-menu-mobile
            .button.text-small.call-form-js Замовити дзвінок
            .close-button Закрити
                +svg('close-button')
        ul.top-menu__group
            li.top-menu__large-span Про комплекс
            li
                a(href="about.html").top-menu__standart-span Про проект
            li
                a(href="advantages.html").top-menu__standart-span Переваги
            li
                a(href="gallery.html").top-menu__standart-span Галерея
            li
                a(href="build-progress.html").top-menu__standart-span Хід будівництва
            li
                a(href="panorama.html").top-menu__standart-span Панорама
            li
                a(href="web-camera.html").top-menu__standart-span Веб-камера
            li
                a(href="documents.html").top-menu__standart-span Документи
        ul.top-menu__group
            li.top-menu__large-span Квартири
            li
                a(href="#").top-menu__standart-span Вибір на генплані
            li
                a(href="choose-floor.html").top-menu__standart-span Будинок
            li
                a(href="choose-flat.html").top-menu__standart-span Вибір на плані поверху
            li
                a(href="filter.html").top-menu__standart-span Підбір за параметрами
            li
                a(href="#").top-menu__standart-span 1-кімнатні квартири
            li
                a(href="#").top-menu__standart-span 2-кімнатні квартири
            li
                a(href="#").top-menu__standart-span 3-кімнатні квартири
            li
                a(href="#").top-menu__standart-span 4-кімнатні квартири
        ul.top-menu__big-links-group
            li.top-menu__large-span
                a(href="location.html") Розташування
            li.top-menu__large-span
                a(href="commercial.html") Комерційна нерухомість
            li.top-menu__large-span
                a(href="developers.html") Девелопери
            li.top-menu__large-span
                a(href="news.html") Новини
            li.top-menu__large-span
                a(href="infrastructure.html") Iнфраструктура
            li.top-menu__large-span
                a(href="contacts.html") Контакти
        .top-menu__bottom-links
            a(href="tel:"+phoneNumberHref+"").top-menu__tel-link 
                +svg('menu-tel-icon')
                span #{phoneNumber}
            a(href="№" target='_blank').top-menu__adress-link 
                +svg('marker')
                span м.Київ, вул.Сверстюка, 54