extends ../layout/main
block variable
    -pageName = 'choose-floor';
block meta
    title= 'Rusaniv Residence'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/choose-floor-plan-func.js')
block content
        .wrapper.first
            .breadcrumbs-wrapper
                .breadcrumbs-block
                    h1.page-title Вибір на плані поверху
                    a(href="/").link Головна
                    a(href="genplan.html").link Вибір на генплані
                    a(href="genplan.html").link Будинок
                    a().link.current-link Вибір на плані поверху
                a(href="gallery.html").link-standart.red-plus-before Підбір за параметрами
        .wrapper.choose-floor-wrapper
            .flat-info-block.first
                +img('common/compass.svg').compass
                .circle.flat-type
                    span K1
                .circle.flat-type
                    span B3
            .flat-info-block.flat-info-block-js
                <svg class="flat-info-block-js__close " width="27" height="27" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="8.44582" y="23.5151" width="21.4279" height="0.738894" transform="rotate(-45 8.44582 23.5151)" fill="white" stroke="white" stroke-width="0.738894"></rect>
                <rect x="8.96826" y="8.3633" width="21.4279" height="0.738894" transform="rotate(45 8.96826 8.3633)" fill="white" stroke="white" stroke-width="0.738894"></rect>
                </svg>
                .subtitle.flat-number 
                    span(data-number="") #145
                .text-standart Номер квартири
                .subtitle.flat-rooms 
                    span(data-rooms="") 2
                .text-standart Кімнати
                .subtitle.red.flat-tot-square 
                    span(data-tot_square="") 117.3 
                .text-standart.square-m-block Загальна площа м<sub>2</sub>
                .subtitle.red.flat-live-square 
                    span(data-liv_square="") 35.6 
                .text-standart.square-m-block Житлова площа м<sub>2</sub>
            .floor-plan-block
                include ../../assets/images/choose-floor/floor-plan.svg
                //- +img('choose-floor/floor-plan.jpg')
                a(href="#").button.text-small.arrow-after.js-see-more-floor Дивитися
                .arrows-container 
                    .previous
                        +svg('arrow')
                    .text-standart.blue.mob-floor-link-js( data-floor="10") 10 поверх
                    .next
                        +svg('arrow')
                - var n = 0;
                ul.floor-indicator
                    li.top-line
                    while n < 25
                        - n++
                        if n===5
                            li.active 
                                a(href="#") #{n}
                        else 
                            li
                                a(href="#") #{n}

