extends ../layout/main
block variable
    -pageName = 'flat';
block meta
    title= 'Rusaniv Residence'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/flat.js')
block content
        .wrapper.first
            .breadcrumbs-wrapper
                .breadcrumbs-block
                    h1.page-title Квартира 5Г
                    a(href="/").link Головна
                    a(href="genplan.html").link Вибір на генплані
                    a(href="choose-build.html").link Будинок
                    a(href="choose-floor.html").link Вибір на плані поверху
                    a().link.current-link  Квартира 5Г
                a(href="gallery.html").link-standart.red-plus-before Підбір за параметрами
        .wrapper.flat-plan-wrapper
            .flat-info-block.first
                +img('common/compass.png').compass
                .circle.flat-type
                    span K1
                .circle.flat-type
                    span B3
                .circle.flat-type
                    span П10
            .mini-floor-plan-block
                .text-standart Поверх
                include ../../assets/images/choose-floor/floor-plan.svg
                a(href="choose-floor.html").link-standart.arrow-before Назад на вибір поверху
            .flat-plan-block
                +img('flat/plan.png')
            .flat-info-block.last
                .flat-info-block__item
                    .subtitle.flat-number #145
                    .text-standart Номер квартири
                .flat-info-block__item
                    .subtitle.flat-rooms 2
                    .text-standart Кімнати
                .flat-info-block__item
                    .subtitle.red.flat-tot-square 117.3 м<sub>2</sub>
                    .text-standart Загальна площа
                .flat-info-block__item
                    .subtitle.red.flat-live-square 35.6 м<sub>2</sub>
                    .text-standart Житлова площа
                .button.text.arrow.call-form-js Дізнатись ціну
                a(href="#" target='_blank').pdf-link.link-standart Завантажити булкет