extends ../layout/main
block variable
    -pageName = 'gallery';
block meta
    title= 'Rusaniv Residence'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/gallery.js')
block content
        .gallery-slider.gallery-slider-js
            +img('gallery/img.jpg')
            +img('gallery/img1.jpg')
            +img('gallery/img2.jpg')
            +img('gallery/img3.jpg')
            +img('gallery/img.jpg')
            +img('gallery/img.jpg')
            +img('gallery/img.jpg')
            +img('gallery/img.jpg')
        .wrapper.first.gallery-page
            .breadcrumbs-wrapper
                h1.page-title Галерея
                .breadcrumbs-block
                    a(href="/").link Головна
                    a(href="/news.html").link.current-link Галерея
            .slider-numbers
                .current 1
                .total 10
            .circle-red-arrow.gallery-arrow-js
            .mobile-arrows.slider-arrows.white
                .prev
                    <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.92308 14.5565L7.87559 13.5898L2.61944 8.24706L18 8.24706L18 6.8661L2.61944 6.8661L7.87559 1.52319L6.92308 0.556517L6.11954e-07 7.55658L6.92308 14.5565Z" />
                    </svg>
                .dots
                .next
                    <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.92308 14.5565L7.87559 13.5898L2.61944 8.24706L18 8.24706L18 6.8661L2.61944 6.8661L7.87559 1.52319L6.92308 0.556517L6.11954e-07 7.55658L6.92308 14.5565Z" />
                    </svg>