extends ../layout/main
block variable
block meta
	title= 'Rusaniv Residence'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
		include ../includes/GTM-head.html
block scripts
	
	script(defer src='./assets/scripts/libs.js')
	script(defer src='./assets/scripts/home.js')
	script(defer src='./assets/scripts/form.js')
	script(defer src='./assets/scripts/vanilla-mask.js')
	script(defer src='./assets/scripts/index.js')


	
block content
	include ../includes/GTM-body.html
	.main-screen.main-screen-template-page 
		.title-wrapper 
			+svg('vertical-line').vertical-line
			.title-large.title-template-page Дізнайтесь про старт продажу першим
			.form-js
		.developers-row
			.footer-adress м. Київ, вул. Сверстюка, 54  
			//- .button.text-small Замовити дзвінок
			span.developers-title Девелопери:
			a(target='_blank' href="https://perfect-group.ua")
				+img('home/perfect-group.svg').perfect-logo.developer-logo
			a(target='_blank' href="https://citex.company")
				+img('home/citex-logo.svg').citex-logo.developer-logo
	<style>.page__footer-wrapper{display:none}</style>
block footer
block header
	


