extends ../layout/main
block variable
    -pageName = 'infrastructure';
block meta
    title= 'Rusaniv Residence'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/infrastructure.js')
block content
        .wrapper.first
            .breadcrumbs-wrapper
                .breadcrumbs-block
                    h1.page-title Інфраструктура
                    a(href="/").link Головна
                    a().link.current-link Інфраструктура
                a(href="gallery.html").link-standart.key-before Обрати квартиру
        #map
        .mobile-infra-legend.infra-legend-js
            .mobile-infra-legend__title Об’єкти інфраструктури
            <svg class="mobile-infra-legend__close " width="27" height="27" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path transform="scale(0.7) translate(2.5, 1.95)" d="M7.38462 0L6.74961 0.690482L10.2537 4.50675H0V5.49316H10.2537L6.74961 9.30952L7.38462 10L12 4.99995L7.38462 0Z" fill="white"/>
            </svg>

            //- <svg class="mobile-infra-legend__close " width="27" height="27" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            //- <rect x="8.44582" y="23.5151" width="21.4279" height="0.738894" transform="rotate(-45 8.44582 23.5151)" fill="white" stroke="white" stroke-width="0.738894"></rect>
            //- <rect x="8.96826" y="8.3633" width="21.4279" height="0.738894" transform="rotate(45 8.96826 8.3633)" fill="white" stroke="white" stroke-width="0.738894"></rect>
            //- </svg>
            .mobile-infra-legend__icon-wrapper
                .mobile-infra-legend__icon-row.active(data-type="main")
                    +svg('marker-main').mobile-infra-legend__icon-img
                    .mobile-infra-legend__icon-text Комплекс
                .mobile-infra-legend__icon-row.active(data-type="park")
                    +svg('marker-park').mobile-infra-legend__icon-img
                    .mobile-infra-legend__icon-text Парк
                .mobile-infra-legend__icon-row.active(data-type="work")
                    +svg('marker-office').mobile-infra-legend__icon-img
                    .mobile-infra-legend__icon-text Простір для офісів
                .mobile-infra-legend__icon-row.active(data-type="meal")
                    +svg('marker-meal').mobile-infra-legend__icon-img
                    .mobile-infra-legend__icon-text Кафе та ресторани
                .mobile-infra-legend__icon-row.active(data-type="shop")
                    +svg('marker-shop').mobile-infra-legend__icon-img
                    .mobile-infra-legend__icon-text Магазини
                .mobile-infra-legend__icon-row.active(data-type="kinder")
                    +svg('marker-bear').mobile-infra-legend__icon-img
                    .mobile-infra-legend__icon-text Дитячі садочки
                .mobile-infra-legend__icon-row.active(data-type="sport")
                    +svg('marker-sport').mobile-infra-legend__icon-img
                    .mobile-infra-legend__icon-text Спорт
                .mobile-infra-legend__icon-row.active(data-type="school")
                    +svg('marker-school').mobile-infra-legend__icon-img
                    .mobile-infra-legend__icon-text Школа

