extends ../layout/main
block variable
    -pageName = 'infrastructure';
block meta
    title= 'Rusaniv Residence'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/infrastructure.js')
block content
        .wrapper.first
            .breadcrumbs-wrapper
                .breadcrumbs-block
                    h1.page-title Інфраструктура
                    a(href="/").link Головна
                    a().link.current-link Інфраструктура
                a(href="gallery.html").link-standart.key-before Обрати квартиру
        #map