#about {
    --negative-block-margin: -123px;
    .title-wrapper {
        padding-left: 35px;
        position: relative;
    }
    .about-background-image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        object-position: center;
    }
    .about-wrapper {
        margin-top: calc(100vh - 167px);
        @include shift-left(2);
        padding-left: var(--side-fields);
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 110px;
        .bg-title-large {
            top: 0.5em;
            position: absolute;
            left: 0;
            z-index: -1;
        }
    }
    .about-wrapper__subtitle {
        @include size(3);
        margin-top: 60px;
    }
    .about-dark-block {
        background-color: var(--blue);
        // padding: 110px 50px;
        padding-top: 50px;
        // padding-left: 50px;
        padding-bottom: 110px;
        @include shift-padding-right(1);
        @include shift-padding-left(0.5);
        margin-top: var(--negative-block-margin);
        @include size(8.3);
        margin-left: auto;
        .title-large {
            margin-bottom: 10px;
        }
    }
    .complex-data-block {
        width: 100%;
        margin-top: 110px;
        display: flex;
        flex-wrap: wrap;
    }
    .about-description-paragraph {
        @include size(4);
        margin-top: 100px;
    }
    .complex-data-block {
        @include size(7);
    }
    .complex-data-block-item {
        width: 50%;
    }
    .complex-data-block-item:nth-child(-n+2) {
        margin-bottom: 94px;
    }
    .about-wrapper-bottom {
        @include shift-padding-left(2);
        background: url(../images/common/white-logo-for-bg.png) left bottom no-repeat, linear-gradient(0deg, rgba(244, 249, 251, 1) 100%, rgba(244, 249, 251, 1) 100%);
        margin-bottom: -103px;
        padding-bottom: 103px;
        padding-top: 100px;
        .wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .title-wrapper {
            @include size(6);
            align-items: flex-start;
        }
        .text-standart {
            @include size(6);
            @include shift-padding-right(2);
        }
        .button {
            margin-top: 35px;
        }
        .title-wrapper {
            padding-left: 57px;
        }
    }
    .link-standart {
        display: block;
        margin-top: 70px;
    }
    @include from(1680px) {
        --negative-block-margin: -190px;
        .about-wrapper {
            padding-bottom: 187px;
        }
        .about-wrapper .bg-title-large {
            left: -0.6em;
            top: 0.3em;
        }
        .about-dark-block {
            @include size(8);
            padding-top: 50px;
            padding-bottom: 105px;
        }
        .about-wrapper-bottom {
            margin-bottom: -160px;
            padding-bottom: 145px;
        }
        .about-wrapper-bottom .text-standart {
            @include shift-padding-right(1);
        }
        .about-wrapper-bottom .button {
            margin-top: 70px;
        }
        .about-wrapper-bottom .vertical-line,
        .about-dark-block .vertical-line {
            top: 0.1em;
            left: -10px;
        }
        .about-dark-block .title-wrapper {
            padding-left: 65px;
        }
        .about-dark-block .title-large {
            margin-bottom: 30px;
        }
        .about-wrapper-bottom .title-wrapper {
            padding-left: 65px;
        }
        .about-description-paragraph,
        .complex-data-block {
            margin-top: 228px;
        }
        .complex-data-block-item:nth-child(even) {
            // width: 35%;
        }
    }
    @include to(768px) {
        .about-background-image {
            height: 40vh;
        }
        .about-wrapper {
            margin-top: calc(40vh - 167px);
            @include shift-left(1);
        }
        .about-description-paragraph {
            @include size(7);
            margin-top: 30px;
            @include shift-left(4);
            @include shift-right(1);
        }
        .complex-data-block {
            @include size(7);
            @include shift-left(4);
            @include shift-right(1);
            margin-top: 30px;
        }
        .complex-data-block .title-large {
            font-size: 64px;
        }
        .complex-data-block-item:nth-child(-n+2) {
            margin-bottom: 30px;
        }
        .link-standart {
            margin-top: 30px;
        }
        .about-wrapper-bottom {
            padding-top: 50px;
        }
        .about-wrapper-bottom .title-wrapper {
            width: 100%;
            margin-bottom: 0.5em;
        }
        .about-wrapper-bottom .text-standart {
            padding-left: 57px;
            width: 100%;
        }
    }
    @include from(576px) {
        .link.current-link {
            color: var(--shta);
        }
    }
    @include to(575px) {
        --negative-block-margin: 0;
        .about-wrapper__subtitle {
            width: 100%;
            margin-top: 20px;
        }
        .about-background-image {
            position: relative;
            margin-top: -67px;
            z-index: -1;
            height: 50vh;
        }
        .about-dark-block {
            margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
            width: calc(100% + (var(--side-field) * 2));
            padding: 30px 10px 42px 0;
        }
        .about-wrapper {
            flex-direction: row-reverse;
            flex-wrap: wrap;
            margin-top: 0;
            margin-left: 0;
            padding-bottom: 40px;
        }
        .bg-title-large {
            display: none;
        }
        .about-wrapper__subtitle {
            padding-left: 25px;
        }
        .complex-data-block {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            display: block;
            padding-left: 25px;
        }
        .about-description-paragraph {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        .about-wrapper-bottom {
            background: var(--shta);
            padding-bottom: 30px;
            margin-bottom: 0;
            padding-left: 0;
            padding-top: 30px;
        }
        .about-wrapper-bottom .text-standart {
            padding-left: 12px;
            padding-right: 0;
        }
        .about-wrapper-bottom .title-wrapper {
            padding-left: 12px;
            line-height: 1.25em;
        }
        .about-wrapper-bottom .title-wrapper .title-wrapper {
            font-size: 32px;
        }
        .about-wrapper-bottom .vertical-line {
            top: 6px;
            left: -12px;
        }
        .about-wrapper-bottom .button {
            margin-top: 30px;
        }
        .about-wrapper-bottom .button::after {
            position: relative;
            top: 3px;
        }
        .page__footer-wrapper {
            background-color: var(--shta);
            margin-top: -1px;
        }
    }
}

#about {
    @include to(575px) {
        .about-dark-block {
            order: 1;
        }
        .about-wrapper__subtitle {
            order: 2;
        }
        .complex-data-block {
            order: 3;
        }
        .about-description-paragraph {
            order: 4;
        }
    }
}