#advantages {
    .page__footer-wrapper {
        margin-top: -110px;
        height: 110px;
        pointer-events: none;
    }
    .smarto-logo {
        display: flex;
        align-items: flex-end;
    }
    @include from(1680px) {
        .footer-adress .button {
            bottom: calc(var(--side-fields) - 40px);
        }
        .page__footer-wrapper {
            margin-top: -160px;
            // background-color: var(--shta);
            height: 140px;
        }
        .page__footer-wrapper .smarto-logo>img {
            margin-bottom: 0;
        }
    }
    @include from-to(575px, 768px) {
        .page__footer-wrapper {
            margin-top: 0px;
            background: var(--shta);
            pointer-events: auto;
        }
    }
    @include to(575px) {
        .page__footer-wrapper {
            margin-top: 0;
            background-color: var(--shta);
            height: 50px;
        }
    }
}

.advantages-full-screen-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -187px;
    position: relative;
    z-index: -1;
    min-height: 100vh;
    .title-wrapper {
        padding-left: 57px;
        margin-bottom: 10px;
    }
    .text-standart {
        max-width: 80%;
    }
    &__img {
        width: 42%;
        object-fit: cover;
    }
    &__text-block {
        @include shift-padding(1);
        width: 58%;
        background-color: var(--shta);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .title-large {
            margin-bottom: 10px;
        }
    }
    @include from(1680px) {
        margin-top: -240px;
    }
    @include to(768px) {
        min-height: 65vh;
        &__text-block {
            @include shift-padding-left(0);
            @include shift-padding-right(0.5);
            width: 50%;
            padding-top: 65px;
        }
        &__img {
            width: 50%;
        }
    }
    @include to(575px) {
        margin-top: -70px;
        &__img {
            width: 100%;
            height: 50vh;
        }
        &__text-block {
            width: 100%;
            padding: 25px 0 31px 0;
        }
        .title-wrapper {
            padding-left: 35px;
        }
        .title-large {
            font-size: 32px;
            line-height: 40px;
        }
        .text-standart {
            max-width: calc(100% - var(--side-fields));
        }
    }
}

.adv-second-layout {
    position: relative;
    .wrapper {
        padding-top: 118px;
        padding-bottom: 92px;
        @include wrapper();
        @include shift-padding(1);
        display: flex;
        flex-wrap: wrap;
        .subtitle {
            width: 100%;
            @include shift-padding-left(8);
            margin-bottom: 30px;
        }
    }
    .adv-dark-block {
        @include shift-padding(1);
        @include size(6);
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: var(--blue);
        max-height: 530px;
        position: relative;
        left: 4%;
        top: -165px;
        z-index: 1;
    }
    .adv-dark-block__subtitle {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        color: var(--shta);
        padding-bottom: 20px;
    }
    .list-standart>li {
        margin-bottom: 5px;
    }
    &__img {
        @include size(6);
        object-fit: cover;
        max-height: 530px;
        position: relative;
        z-index: 2;
    }
    &__side-image {
        position: absolute;
        width: 320px;
        height: 320px;
        object-fit: cover;
        bottom: 150px;
        left: -150px;
        transition: .5s;
        z-index: 3;
        display: none;
    }
    &__side-image:hover {
        left: 0;
    }
    @include from(1680px) {
        .wrapper {
            max-width: none;
            padding-bottom: 175px;
            padding-top: 175px;
        }
        &__img {
            max-height: 748px;
        }
        .adv-dark-block {
            padding-top: 105px;
            padding-bottom: 105px;
            max-height: 748px;
            &__subtitle {
                font-size: 20px;
                line-height: 40px;
            }
        }
    }
    @include from-to(575px, 768px) {
        padding-left: 0;
        padding-right: 0;
        .wrapper {
            padding-left: 0;
            padding-right: 0;
        }
        .adv-dark-block {
            width: 100%;
            left: 0;
            top: -240px;
            @include shift-padding-left(2);
        }
        .list-standart {
            column-count: 2;
        }
        .wrapper .subtitle {
            position: relative;
            top: 300px;
            @include shift-padding-left(2);
            font-size: 36px;
            width: 50%;
        }
        &__img {
            position: relative;
            bottom: 310px;
            margin-left: auto;
        }
        &__side-image {
            display: none;
        }
    }
    @include to(575px) {
        .wrapper {
            position: relative;
            padding: 25px 0 0 0;
            .subtitle {
                padding-left: 0;
                width: 100%;
                max-width: 75%;
            }
        }
        &__side-image {
            display: none;
        }
        &__img {
            position: absolute;
            width: 100%;
            top: calc(25px + 30px + 1.38em + 1.38em);
            height: 50vh;
        }
        .adv-dark-block {
            top: auto;
            margin-top: calc(50vh - 154px);
            width: calc(100% + 20px);
            margin-left: -10px;
            margin-right: -10px;
            left: auto;
            padding: 200px var(--side-fields) 34px var(--side-fields);
            max-height: none;
        }
    }
}

.advantage-bottom-section {
    padding-top: 147px;
    padding-bottom: 30px;
    @include shift-padding-left(1);
    display: flex;
    flex-wrap: wrap;
    .title-large {
        @include size(3);
    }
    @include from(1680px) {
        @include shift-padding-left(2);
        padding-bottom: 100px;
    }
    @include from-to(575px, 768px) {
        position: relative;
        bottom: 360px;
        margin-bottom: -360px;
        padding-top: 75px;
        @include shift-padding-left(0);
    }
    @include to(575px) {
        padding-top: 55px;
        padding-left: 10px;
        padding-right: 0;
    }
}

.advantage-slider {
    @include size(12);
    margin-left: auto;
    position: relative;
    &:after {
        top: 0;
        right: -2px;
        background: linear-gradient(270deg, #F4F9FB 44.92%, rgba(255, 255, 255, 0) 129.64%);
        position: absolute;
        width: 177px;
        content: '';
        height: 100%;
        pointer-events: none;
        transition: 1s;
    }
    &:before {
        top: 0;
        left: -2px;
        background: linear-gradient(-270deg, #F4F9FB 12.2%, rgba(255, 255, 255, 0) 129.64%);
        position: absolute;
        width: 177px;
        content: '';
        height: 100%;
        pointer-events: none;
        transition: 1s;
        z-index: 2;
        opacity: 0;
    }
    .advantage-slide {
        border: 1px solid var(--red);
        background-color: var(--white);
        padding: 50px 40px;
        // max-width: 400px;
        margin-right: 40px;
        .subtitle {
            margin-bottom: 15px;
        }
    }
    .first-slide {
        background: none;
        border: none;
        // max-width: 400px;
    }
    .slick-track {
        display: flex;
    }
    .slider-hint svg {
        margin-right: 10px;
    }
    .slider-hint {
        // font-weight: bold;
        margin-top: 60px;
    }
    @include from-to(575px, 768px) {
        .first-slide {
            padding-left: 0;
            padding-right: 0;
        }
        .advantage-slide:not(.first-slide) {
            width: 350px;
        }
        .first-slide {
            width: 200px;
            align-self: center;
        }
        .advantage-slide .nav-view {
            text-align: right;
        }
        .advantage-slide .subtitle {
            margin-bottom: 0.5em;
        }
    }
    @include to(575px) {
        width: 100%;
        &::after {
            width: 70px;
        }
        .advantage-slide {
            padding: 20px 10px;
            height: auto;
            // width: 100%;
            margin-right: 10px;
        }
        .advantage-slide.first-slide {
            width: 145px;
            transform: translateX(-50%);
            margin-right: -46px;
        }
        .advantage-slide:not(.first-slide) {
            width: calc(100vw - (var(--side-fields) * 2));
            opacity: attr;
        }
    }
}

.navigation {
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--shta);
    &:after {
        content: '';
        height: 1.5px;
        width: 100%;
        position: absolute;
        left: 0;
        top: calc(50% - 15px);
        transform: translateY(-50%);
        background-color: var(--hz);
        z-index: 0;
        transition: 3s;
    }
    .navigation-dot {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 54px;
        height: 54px;
        background-color: var(--white);
        border-radius: 50%;
        border: 1px solid var(--hz);
        transition: .5s;
    }
    .navigation-dot.active {
        border-color: var(--red);
    }
    .navigation-dot.active svg {
        fill: var(--red);
    }
    .navigation-dot svg {
        fill: var(--hz);
    }
    .navigation-dot:not(:last-child) {
        margin-right: 60px;
    }
    @include from(1680px) {
        bottom: 18px;
        z-index: 2;
        .navigation-dot {
            width: 76px;
            height: 76px;
        }
        .navigation-dot svg {
            width: 70%;
            height: 70%;
        }
    }
    @include to(575px) {
        .navigation-dot {
            width: 30px;
            height: 30px;
        }
        .navigation-dot:not(:last-child) {
            margin-right: 25px;
        }
        .navigation-dot:first-child {
            margin-right: 0;
        }
        .navigation-dot svg {
            width: 80%;
            height: 80%;
        }
    }
}