#advantages {
    .page__footer-wrapper {
        margin-top: -110px;
        height: 110px;
        pointer-events: none;
    }
    .smarto-logo {
        display: flex;
        align-items: flex-end;
    }
}

.advantages-full-screen-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -187px;
    position: relative;
    z-index: -1;
    min-height: 100vh;
    .title-wrapper {
        padding-left: 57px;
        margin-bottom: 10px;
    }
    .text-standart {
        max-width: 80%;
    }
    &__img {
        width: 42%;
        object-fit: cover;
    }
    &__text-block {
        @include shift-padding(1);
        width: 58%;
        background-color: var(--shta);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.adv-second-layout {
    position: relative;
    .wrapper {
        padding-top: 118px;
        padding-bottom: 92px;
        @include wrapper();
        @include shift-padding(1);
        display: flex;
        flex-wrap: wrap;
        .subtitle {
            width: 100%;
            @include shift-padding-left(8);
            margin-bottom: 30px;
        }
    }
    .adv-dark-block {
        @include shift-padding(1);
        @include size(6);
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: var(--blue);
        max-height: 530px;
        position: relative;
        left: 8%;
        top: -150px;
        z-index: 1;
    }
    .adv-dark-block__subtitle {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        color: var(--shta);
        padding-bottom: 20px;
    }
    .list-standart>li {
        margin-bottom: 5px;
    }
    &__img {
        @include size(6);
        object-fit: cover;
        max-height: 530px;
        position: relative;
        z-index: 2;
    }
    &__side-image {
        position: absolute;
        width: 320px;
        height: 320px;
        object-fit: cover;
        bottom: 150px;
        left: -150px;
        transition: .5s;
        z-index: 3;
    }
    &__side-image:hover {
        left: 0;
    }
}

.advantage-bottom-section {
    padding-top: 147px;
    padding-bottom: 30px;
    @include shift-padding-left(1);
    display: flex;
    flex-wrap: wrap;
    .title-large {
        @include size(3);
    }
}

.advantage-slider {
    @include size(12);
    margin-left: auto;
    position: relative;
    &:after {
        top: 0;
        right: -2px;
        background: linear-gradient(270deg, #F4F9FB 44.92%, rgba(255, 255, 255, 0) 129.64%);
        position: absolute;
        width: 177px;
        content: '';
        height: 100%;
    }
    .advantage-slide {
        border: 1px solid var(--red);
        background-color: var(--white);
        padding: 50px 40px;
        max-width: 400px;
        margin-right: 40px;
    }
    .first-slide {
        background: none;
        border: none;
        max-width: 400px;
    }
    .slick-track {
        display: flex;
    }
    .slider-hint svg {
        margin-right: 10px;
    }
    .slider-hint {
        font-weight: bold;
        margin-top: 60px;
    }
}

.navigation {
    padding-bottom: 30px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--shta);
    &:after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        top: calc(50% - 15px);
        transform: translateY(-50%);
        background-color: var(--hz);
        z-index: 0;
    }
    .navigation-dot {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 54px;
        height: 54px;
        background-color: var(--white);
        border-radius: 50%;
        border: 1px solid var(--hz);
        transition: .5s;
    }
    .navigation-dot.active {
        border-color: var(--red);
    }
    .navigation-dot.active svg {
        fill: var(--red);
    }
    .navigation-dot svg {
        fill: var(--hz);
    }
    .navigation-dot:not(:last-child) {
        margin-right: 60px;
    }
}