#build-progress {
    @include from(576px) {
        .page__footer-wrapper {
            margin-top: -110px;
            height: 110px;
            pointer-events: none;
        }
    }
    .smarto-logo {
        display: flex;
        align-items: flex-end;
    }
    .breadcrumbs-wrapper {
        white-space: nowrap;
    }
    @include to(768px) {
        .breadcrumbs-wrapper .link-standart.arrow-after {
            display: none;
        }
    }
}

.text-medium {
    font-size: 18px;
    color: var(--blue);
    font-family: $default-font;
    @include to(575px) {
        font-size: 16px;
        margin-bottom: 14px;
    }
}

.build-progress-wrap {
    @include shift(1);
    @include size(10);
    .delimiter {
        background-color: var(--hz);
        height: 1.16px;
        // @include size(4);
        color: var(--hz);
        width: 50%;
        margin: 35px 25% 71px 25%;
        padding: 0 25%;
        border: none;
    }
    .navigation-block {
        padding-left: 0;
    }
    @include to(768px) {
        @include shift(0);
        // @include size(12);
        padding-left: 0;
        padding-right: 0;
        width: calc(100% + var(--side-fields) * 2);
        margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
        .delimiter {
            width: 100%;
            margin: 35px 0% 45px 0%;
        }
    }
}

.section-choose {
    padding: 0 $fields;
    display: flex;
    cursor: pointer;
    &>li {
        background: var(--hz);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 170px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -1px;
        transition: .5s;
    }
    &>li.active {
        background: var(--shta);
    }
    @include to(768px) {
        // width: calc(100% + var(--side-fields) * 2);
        // margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
        width: 100%;
        background: var(--shta);
        padding: 40px calc(var(--side-fields) * 2);
        margin-bottom: -1px;
        .desktop-section-choose-title {
            display: none;
        }
        &>li {
            width: 50px;
            height: 50px;
            margin-right: 50px;
            border-radius: 50%;
            background: none;
            border: 1px solid var(--red);
            text-transform: uppercase;
        }
        &>li:after {
            content: attr(data-mobile-title);
        }
        &>li.active {
            background: var(--red);
            color: var(--white);
        }
    }
    @include to(575px) {
        background-color: var(--white);
        justify-content: space-between;
        padding: 0px calc(var(--side-fields) * 2) 42px calc(var(--side-fields) * 2);
        &>li {
            margin-right: 0;
            width: 46px;
            height: 46px;
        }
        &>li:nth-last-child(n+2) {
            margin-right: 35px;
        }
    }
}

.build-section {
    background: var(--shta);
    @include shift-padding(1.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    &.active {
        // display: flex;
        padding-bottom: 102px;
        padding-top: 76px;
        height: auto;
        visibility: visible;
        pointer-events: initial;
        overflow: initial;
    }
    &__text-description {
        @include size(4.6);
    }
    &__text-description-part:not(:last-child) {
        margin-bottom: 28px;
    }
    .title-large {
        margin-bottom: 46px;
    }
    .navigation-block {
        margin-bottom: 43px;
    }
    .build-progress-part {
        @include size(6);
    }
    .build-progress-part:not(:nth-last-child(-n+2)) {
        margin-bottom: 38px;
    }
    .subtitle {
        margin-bottom: 28px;
    }
    .subtitle,
    .title-large,
    .navigation-block {
        width: 100%;
        position: relative;
        z-index: 2;
    }
    .slider-arrows {
        margin-left: auto;
        margin-right: 0;
    }
    .slick-active {
        animation: flipInY 1s 1 ease-in;
    }
    .exit-slide-animate {
        animation: flipOutY 1s 1 ease-in;
    }
    .years-slider {
        margin-left: 15px;
    }
    @include from(576px) {
        .slider-numbers {
            display: none;
        }
    }
    @include to(768px) {
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        &.active {
            padding-top: 0;
        }
        .build-progress-part:not(:nth-last-child(-n+2)) {
            margin-bottom: 35px;
        }
        .build-progress-part:nth-last-child(-n+2) {
            margin-bottom: 35px;
        }
        .build-progress-part {
            width: calc(100% - 20px);
            @include shift-padding(3);
        }
        .subtitle {
            @include shift-padding-left(3);
        }
        &__text-description {
            @include size(5);
        }
    }
    @include to(575px) {
        background: var(--white);
        &.active {
            padding-bottom: 60px;
        }
        .title-large {
            display: none;
        }
        &__text-description {
            width: 100%;
        }
        .slider-arrows {
            margin-left: 0;
            width: 100%;
        }
        .slider-numbers {
            margin-right: auto;
            align-self: center;
        }
        .build-progress-part {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
        .subtitle {
            padding-left: 0;
            max-width: 85%;
            line-height: 1.5em;
        }
        .build-progress-part:not(:nth-last-child(-n+2)),
        .build-progress-part:nth-last-child(-n+2) {
            margin-bottom: 15px;
        }
    }
}

.build-progress-section-slider {
    transition: .5s;
    @include size(6.5);
    @include to(768px) {
        @include size(7);
    }
    @include to(575px) {
        width: 100%;
    }
}

.build-progress-part {
    font-family: $default-font2;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 2em;
    color: var(--blue);
    overflow: hidden;
    .build-progress-part-load-indicator {
        position: relative;
        height: 40px;
        border-radius: 22px;
        background: var(--hz);
        overflow: hidden;
        svg {
            transform: translate(-1.3px, -0.2px);
            display: block;
        }
    }
    .build-progress-part-load-indicator-completed {
        position: absolute;
        height: 100%;
        background: var(--blue);
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        width: calc(var(--completed-value) - 15px);
    }
    .build-progress-part-load-indicator-completed {}
}

.navigation-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .select-box {
        margin-right: auto;
    }
    @include shift-padding-left(1);
}


/**********************************/


/*
* moving tab inner elements start
*/

#build-progress {
    @include to(575px) {
        .build-progress-part {
            order: 6;
        }
        .subtitle {
            order: 5;
        }
        .delimiter {
            order: 4;
        }
        .build-section__text-description {
            order: 3;
            margin-top: 40px;
        }
    }
}


/*
* moving tab inner elements end
*/


/**********************************/