#choose-floor {
    .flat-info-block {
        text-align: right;
        @include size(1.5);
    }
    .floor-plan-block {
        @include size(9);
        @include shift-padding-right(1);
    }
    .choose-floor-wrapper {
        @include row-flex();
        justify-content: space-between;
        margin-top: 45px;
        margin: 45px auto;
    }
    .flat-info-block.first {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .flat-info-block.first .circle.flat-type {
        margin-top: 43px;
        margin-bottom: auto;
    }
    .arrows-container {
        width: 290px;
        margin: 55px auto 24px auto;
        align-items: center;
        letter-spacing: 0.1em;
        .text-standart {
            font-family: $default-font;
            font-size: 14px;
        }
        .next {
            transform: rotate(-90deg);
        }
        .previous {
            transform: rotate(90deg);
        }
    }
    .js-see-more-floor {
        width: 100%;
        margin: 20px auto;
    }
    @include from(1680px) {
        .flat-info-block.first {
            @include size(1);
        }
        .arrows-container {
            width: 400px;
        }
        .arrows-container .text-standart {
            font-size: 25px;
            line-height: 43px;
            margin-left: 50px;
            margin-right: 50px;
        }
    }
    @include from(769px) {
        .js-see-more-floor {
            display: none;
        }
    }
    @include from-to(769px, 1110px) {
        .flat-info-block:not(.first) {
            @include size(2.5);
        }
        .floor-plan-block {
            @include size(8);
        }
    }
    @include to(768px) {
        .breadcrumbs-wrapper {
            flex-wrap: wrap;
            .link-standart {
                margin-top: 37px;
            }
        }
        .flat-info-block {
            @include size(6);
            text-align: left;
            column-count: 2;
        }
        .flat-info-block:not(.first) {
            margin-top: 70px;
            margin-bottom: 50px;
        }
        .flat-info-block .subtitle {
            font-size: 36px;
        }
        .flat-info-block.first {
            justify-content: flex-start;
            width: 100%;
        }
        .choose-floor-wrapper {
            margin-top: -37px;
        }
        .floor-plan-block {
            @include size(12);
            @include shift-padding(0.5);
        }
        .compass {
            margin-right: 40px;
        }
        .circle.flat-type {
            margin: 0 30px 0 0px;
        }
    }
    @include to(575px) {
        .breadcrumbs-wrapper .link-standart {
            display: none;
        }
        .breadcrumbs-block {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            box-orient: vertical;
        }
        .choose-floor-wrapper {
            margin-top: 0;
        }
        .compass {
            margin-right: 30px;
        }
        .flat-info-block-js {
            position: fixed;
            transition: .5s;
            z-index: 2;
            transform: translateX(-100vh);
            width: 100%;
            height: auto;
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            top: 50px;
            padding: 40px;
        }
        .flat-info-block-js.opened {
            transform: none;
        }
        .flat-info-block-js__close {
            position: absolute;
            background-color: var(--red);
            border-radius: 50%;
            top: 21px;
            right: 16px;
        }
        .floor-indicator {
            display: none;
        }
        .floor-plan-block {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        .arrows-container {
            --arrow-width: 44px;
            margin-top: 35px;
        }
    }
    @include from(576px) {
        .flat-info-block-js__close {
            display: none;
        }
    }
}

.floor-indicator {
    position: relative;
    display: flex;
    padding-top: 11.1px;
    justify-content: space-between;
    padding-left: 43px;
    padding-right: 43px;
    color: rgba(108, 124, 132, 0.3);
    li.top-line {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        width: 100%;
        top: calc(11.1px / 2 - 1px);
        z-index: 0;
        background: rgba(108, 124, 132, 0.3);
    }
    li>a[href] {
        color: rgba(108, 124, 132, 0.3);
    }
    li.active>a[href] {
        color: var(--dark-gray);
    }
    &::before {
        z-index: 1;
        content: '';
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        background: var(--red);
        width: 11.1px;
        height: 11.1px;
    }
    &::after {
        z-index: 1;
        content: '';
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        background: var(--red);
        width: 11.1px;
        height: 11.1px;
    }
}

.floor-plan-svg {
    margin: 0 auto;
    display: block;
    path,
    polygon {
        fill: transparent;
        transition: .5s;
        cursor: pointer;
    }
    path.active,
    polygon.active {
        fill: var(--red);
        opacity: .75;
    }
    @include from(1680px) {
        height: calc(100vh - 160px - 500px);
        width: auto;
    }
    @include from(769px) {
        path:hover,
        polygon:hover,
        path.active,
        polygon.active {
            fill: var(--red);
            opacity: .75;
        }
    }
    @include to(575px) {
        width: 100%;
        height: calc(100vw / 405 * 288);
    }
}