#commercial {
    .page__footer-wrapper {
        margin-top: -102px;
        z-index: -1;
    }
}

.cards-wrapper {
    @include size(10);
    @include row-flex();
    @include shift-left(2);
    // margin: 45px auto 45px 8%;
    // overflow: hidden;
    padding-bottom: 70px;
}

.load-more-block {
    @include size(10);
    @include shift-left(2);
    margin-top: 50px;
    margin-bottom: 60px;
}

.load-more {
    margin: 0 auto;
}

.card-value {
    vertical-align: top;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */
    /* Gray-2 */
    color: #6C7C84;
}

.card-title {
    vertical-align: top;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */
    /* Gray */
    color: #AAC0C9;
    width: 70%;
}

.card-name {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    width: 20%;
    /* identical to box height, or 167% */
    letter-spacing: 0.1em;
    /* Blue */
    color: #00395A;
}

.card {
    display: flex;
    @include size(4);
    text-align: left;
    transition: .5s;
    padding: 10px 10px 10px 10px;
    margin-right: 20px;
    margin-top: 35px;
    .link-row {
        padding-top: 25px;
        border-spacing: 25px;
    }
    img {
        width: 40%;
        object-fit: contain;
        margin-right: 20px;
    }
    &:hover {
        box-shadow: 0px 30px 50px rgba(0, 57, 90, 0.15);
    }
    &:nth-child(3n) {
        margin-right: 0;
    }
    @include to(1150px) {
        &:nth-child(2n) {
            margin-right: 0;
        }
        @include size(6);
    }
    @include to(480px) {
        &:nth-child(n) {
            margin-right: 0;
        }
        @include size(12);
    }
}