.documents-page {
    .breadcrumbs-wrapper {
        margin-bottom: 30px;
        .link-standart {
            margin-left: auto;
            @include shift-right(1);
        }
    }
    .slider {
        @include size(9);
        @include shift-right(1);
        @include shift-left(2);
    }
    @include from(1680px) {
        .slider {
            margin-bottom: 75px;
            margin-top: 75px;
        }
        .slick-track {
            left: -1px;
        }
    }
    @include to(768px) {
        margin-left: 0;
        .breadcrumbs-wrapper .link-standart {
            margin-right: 0;
        }
        .slider {
            @include size(10);
            @include shift-right(0.5);
            @include shift-left(1.5);
        }
        .slick-track {
            position: relative;
            left: -1px;
        }
    }
    @include to(575px) {
        .link-standart.transfered-js {
            margin-top: 30px;
            margin-bottom: 60px;
            display: inline-block;
        }
        .slider {
            margin-left: 0;
            width: 100%;
        }
        .slider-arrows {
            display: none;
        }
    }
}

.doc-slide {
    background-color: var(--blue);
    padding: 40px 30px 30px 30px;
    margin-left: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    &.slick-slide {
        display: flex;
    }
    &__file-type-icon {
        width: 66px;
        height: 83px;
    }
    &__date {
        font-size: 18px;
        line-height: 1.67em;
        letter-spacing: 0.1em;
        /* Gray */
        color: var(--gray);
        margin-left: calc(100% - 100px - 66px);
    }
    &__title {
        font-size: 25px;
        line-height: 1.47em;
        color: var(--white);
        margin-top: 35px;
        min-height: 2.94em;
    }
    & hr {
        background-color: #084365;
        margin: 40px 0;
        border: none;
        height: 2px;
        width: 100%;
    }
    .plus {
        width: 16px;
        height: 16px;
        margin-left: auto;
    }
    &__file-size {
        font-size: 18px;
        line-height: 1.67em;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    &__file-size[href] {
        color: var(--gray);
    }
    &__file-type-icon,
    &__date {
        display: inline-block;
        vertical-align: middle;
    }
    @include from(1680px) {
        padding: 35px 32px 31px 38px;
        margin-left: 46px;
        height: 500px;
        &__date {
            font-size: 25px;
            left: 38px;
            margin-left: calc(100% - 78px - 136px);
        }
        &__file-type-icon {
            width: 78px;
            height: 78px;
        }
        &__title {
            font-size: 36px;
            line-height: 50px;
        }
        &__file-size[href] {
            font-size: 25px;
            line-height: 38px;
        }
        .plus {
            width: 20px;
            height: 20px;
        }
    }
    @include from(769px) {
        // min-height: 400px;
    }
    @include to(575px) {
        padding: 20px 20px 25px 20px;
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 320px;
        &:nth-last-child(n+2) {
            margin-bottom: 35px;
        }
        &__title {
            font-size: 20px;
            margin-top: 15px;
        }
        & hr {
            margin: 55px 0 20px 0;
        }
        &__file-type-icon {
            width: 45px;
            height: 56px;
        }
        &__date {
            margin-left: calc(100% - 100px - 45px);
        }
    }
}