.documents-page {
    .breadcrumbs-wrapper {
        margin-bottom: 30px;
        .link-standart {
            margin-left: auto;
            @include shift-right(1);
        }
    }
    .slider {
        @include size(9);
        @include shift-right(1);
        @include shift-left(2);
    }
    .slider-arrows {
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
        @include shift-left(2);
        @include shift-right(1);
        margin-top: 40px;
        .prev,
        .next {
            width: 50px;
            height: 50px;
            border: 1px solid var(--red);
            border-radius: 50%;
            transition: .5s;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .prev svg,
        .next svg {
            fill: var(--red);
        }
        .next {
            transform: rotate(180deg);
        }
        .prev:hover,
        .next:hover {
            background-color: var(--red);
        }
        .prev:hover svg,
        .next:hover svg {
            fill: var(--white);
        }
        .dots {
            display: flex;
            margin: 0 40px;
            align-items: center;
        }
        .slick-dots {
            display: flex;
            align-items: center;
        }
        .slick-dots li {
            width: 4px;
            height: 4px;
            margin-right: 10px;
            position: relative;
            opacity: 0.5;
        }
        .slick-dots li.slick-active {
            opacity: 1;
        }
        .slick-dots button[type=button] {
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--red);
            border: none;
            color: transparent;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            font-size: 0;
        }
    }
}

.doc-slide {
    background-color: var(--blue);
    padding: 40px 30px 30px 30px;
    margin-left: 20px;
    &__file-type-icon {
        width: 66px;
        height: 83px;
    }
    &__date {
        font-size: 18px;
        line-height: 1.67em;
        letter-spacing: 0.1em;
        /* Gray */
        color: var(--gray);
        margin-left: calc(100% - 100px - 66px);
    }
    &__title {
        font-size: 25px;
        line-height: 1.47em;
        color: var(--white);
        margin-top: 35px;
    }
    & hr {
        border-color: #084365;
        margin: 40px 0;
    }
    .plus {
        width: 16px;
        height: 16px;
        margin-left: auto;
    }
    &__file-size {
        font-size: 18px;
        line-height: 1.67em;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    &__file-size[href] {
        color: var(--gray);
    }
    &__file-type-icon,
    &__date {
        display: inline-block;
        vertical-align: middle;
    }
}