.documents-page {
    .breadcrumbs-wrapper {
        margin-bottom: 30px;
        .link-standart {
            margin-left: auto;
            @include shift-right(1);
        }
    }
    .slider {
        @include size(9);
        @include shift-right(1);
        @include shift-left(2);
    }
}

.doc-slide {
    background-color: var(--blue);
    padding: 40px 30px 30px 30px;
    margin-left: 20px;
    &__file-type-icon {
        width: 66px;
        height: 83px;
    }
    &__date {
        font-size: 18px;
        line-height: 1.67em;
        letter-spacing: 0.1em;
        /* Gray */
        color: var(--gray);
        margin-left: calc(100% - 100px - 66px);
    }
    &__title {
        font-size: 25px;
        line-height: 1.47em;
        color: var(--white);
        margin-top: 35px;
    }
    & hr {
        border-color: #084365;
        margin: 40px 0;
    }
    .plus {
        width: 16px;
        height: 16px;
        margin-left: auto;
    }
    &__file-size {
        font-size: 18px;
        line-height: 1.67em;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    &__file-size[href] {
        color: var(--gray);
    }
    &__file-type-icon,
    &__date {
        display: inline-block;
        vertical-align: middle;
    }
}