/*
* range start
*/

.range-wrapper {
    display: flex;
    justify-content: space-between;
    @include to(575px) {
        .irs--flat .irs-to {
            transform: translateX(-10px);
        }
    }
}

.range-item {
    flex-direction: column;
    &__label {
        margin-bottom: 6px;
        font-size: 12px;
        line-height: 2em;
        color: #6C7C84;
        display: block;
    }
    @include to(768px) {
        &__label {
            font-size: 20px;
            line-height: 1.4em;
        }
    }
    @include to(575px) {
        &__label {
            font-size: 18px;
            line-height: 1.56em;
        }
    }
}

.filter__label {
    text-align: center;
    font-size: 14px;
    font-family: $default-font2;
}

.filter__item {
    margin: 0 13px;
    display: flex;
    width: calc(33.33% - 13px);
}

.u-range-item-nav {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input:first-child {
        margin-right: 5px;
    }
    input:nth-child(2) {
        margin-left: 5px;
    }
    input {
        width: 80px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 12px;
        background: #FFFFFF;
        text-align: center;
        color: #8494A7;
        &:hover,
        &:focus {
            color: $text;
        }
    }
}

.irs--flat .irs-bar {
    height: 3px;
    background-color: var(--blue);
}

.irs--flat .irs-handle:not(#j) {
    width: 7px;
    height: 7px;
    top: 23px;
    @include to(768px) {
        width: 10px;
        height: 10px;
        top: 21.6px;
    }
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    font-family: $default-font2;
    font-size: 12px;
    font-weight: 500;
    top: -1px;
}

.irs--flat .irs-line {
    height: 3px;
    background-color: rgba(154, 149, 158, 0.2);
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single,
.irs--flat .irs-min,
.irs--flat .irs-max {
    padding: 3px 14px;
    border-radius: 13px;
}

.irs-from,
.irs-to,
.irs-single {
    top: -1px;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    background-color: var(--blue);
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
    border-top-color: $mc;
}

.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
    background-color: transparent;
    cursor: pointer;
}

.irs--flat .irs-handle {
    top: 21px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--blue);
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    font-family: $default-font2;
    font-size: 12px;
    font-weight: 500;
    @include to(768px) {
        font-size: 26px;
        line-height: 28px;
        margin-top: -1.4em;
    }
    @include to(575px) {
        line-height: 36px;
    }
}


/*
* range end
*/

.reset-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
        margin-left: 12px;
        width: 14px;
        height: 18px;
    }
}

#filter {
    .filter-button {
        height: 50px;
        min-width: 250px;
        margin-left: 45px;
    }
    .filter-controls {
        @include shift-padding-left(1.5);
        @include size(12);
        padding-bottom: 55px;
        display: flex;
        flex-wrap: wrap;
    }
    .range-wrapper {
        width: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .range-item {
        @include size(3.5);
    }
    @include to(768px) {
        .filter-controls {
            @include shift-padding-left(3);
            @include shift-padding-right(2);
        }
        .range-wrapper {
            flex-wrap: wrap;
            margin-bottom: 0;
        }
        .range-item {
            width: 100%;
            margin-bottom: 45px;
        }
        .range-item:last-child {
            margin-bottom: 0;
        }
        .filter-button {
            margin-top: 40px;
            margin-left: 0;
            order: 0;
        }
        .result-count-info-wrapper {
            margin-top: 24px;
            order: 1;
        }
    }
    @include to(575px) {
        .filter-controls {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 25px;
            margin-top: 30px;
        }
        .filter-button {
            margin-left: auto;
            margin-right: auto;
            min-width: 300px;
        }
        .filter-tab-nav {
            display: none;
        }
        .range-wrapper {
            margin-top: 0;
        }
        .range-item {
            margin-bottom: 30px;
        }
    }
}

.filter-checkbox {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #AABFC9;
    color: #AABFC9;
    position: relative;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $default-font;
    margin-right: 28px;
    input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    &.active {
        border-color: var(-blue);
        background-color: var(--blue);
        color: var(--white);
    }
    &:before {
        content: attr(data-value);
    }
    @include to(768px) {
        width: 70px;
        height: 70px;
        font-size: 26px;
        line-height: 28px;
    }
    @include to(575px) {
        width: 51px;
        height: 51px;
        font-size: 26px;
        line-height: 36px;
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.card-filter {
    @include size(5.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:nth-child(n+3) {
        margin-top: 80px;
    }
    &__card-filter__img {}
    &__img {
        max-height: 300px;
        width: calc(50% - 20px);
        margin-right: 20px;
    }
    &__img img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        object-position: top left;
    }
    .card-filter-list {
        width: 49%;
    }
    @include from-to(769px, 1100px) {
        @include size(6);
    }
    @include to(768px) {
        @include size(12);
        .subtitle {
            font-size: 36px;
            white-space: nowrap;
            margin-bottom: 10px;
        }
        &__img {
            width: calc(55% - 20px);
        }
        .card-filter-list {
            width: 44%;
        }
        &:nth-child(n+3),
        & {
            margin-top: 80px;
        }
        &:first-child {
            margin-top: 30px;
        }
    }
    @include to(575px) {
        padding-right: 30px;
        padding-left: 30px;
        box-shadow: 0px 20px 25px rgba(0, 57, 90, 0.1);
        padding-bottom: 26px;
        &:first-child {
            margin-top: 0;
        }
        width: 100%;
        &__img,
        .card-filter-list {
            width: 100%;
        }
        &__img {
            margin-bottom: 10px;
        }
        .subtitle {
            font-size: 26px;
        }
        &:nth-child(n+3),
        & {
            margin-top: 50px;
        }
    }
}

.checkbox-block {
    display: flex;
    flex-wrap: wrap;
    &__title {
        width: 100%;
    }
    @include to(768px) {
        width: 100%;
        &__title {
            font-size: 20px;
            line-height: 1.4em;
            margin-bottom: 15px;
        }
        margin-bottom: 45px;
    }
    @include to(575px) {
        margin-bottom: 25px;
        &__title {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

.filter-result-block {
    padding-top: 39px;
    @include shift-padding-left(2);
    @include shift-padding-right(1);
    &__body {
        padding-top: 40px;
    }
    @include to(768px) {
        padding-left: 0;
        padding-right: 0;
        @include shift-left(3);
        @include shift-right(1);
        @include size(8);
        &__body {
            padding-top: 15px;
        }
    }
    @include to(575px) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%;
        &__body {
            padding-top: 0;
        }
    }
}

.card-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.irs--flat .irs-to,
.irs--flat .irs-from {
    &:before {
        display: none;
    }
    background-color: transparent;
    color: var(--blue);
}

.irs-from,
.irs-to,
.irs-single {
    top: 2.6em;
}

.irs--flat {
    position: relative;
    top: -1.6em;
}

.card-filter-list-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-family: Gilroy;
    font-size: 14px;
    &__key {
        color: var(--gray);
    }
    &__val {
        color: var(--dark-gray);
    }
}

.card-filter-btn {
    margin-top: 2.2em;
    @include to(575px) {
        text-align: center;
        .link-standart {
            width: 175px;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
            line-height: 36px;
            text-align: center;
            background: var(--red);
            color: var(--white);
            display: inline-block;
            padding: 0px 20px;
            border-radius: 25px;
        }
        .link-standart.arrow-after:after {
            content: url(../images/common/arrow-left.svg);
            transform: none;
            position: relative;
            top: 2px;
        }
    }
}

.filter-result-block-tab {
    display: none;
}

.filter-result-block-tab.active {
    display: flex;
}

.jsgrid-table {
    width: 100%;
}

.jsgrid-header-row {
    height: 80px;
    color: var(--dark-gray);
    cursor: pointer;
}

.jsgrid-row,
.jsgrid-alt-row {
    height: 80px;
    border-top: 2px solid var(--hz);
    color: var(--blue);
    @include to(768px) {
        text-align: center;
    }
}

.button--res {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--hz);
    font-family: $default-font;
    letter-spacing: 0.1em;
    font-size: 18px;
    &:first-child {
        margin-right: 48px;
    }
    &.filter-tab-nav-btn--current {
        color: var(--blue);
    }
}