#flat {
    .pdf-link {
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    .pdf-link:before {
        content: url(../images/common/pdf-link.svg);
        width: 33px;
        height: 47px;
        margin-right: 19px;
    }
    .flat-plan-wrapper {
        @include row-flex();
        justify-content: space-between;
        margin: 45px auto;
    }
    .flat-info-block.first {
        @include size(1);
        padding-top: 25px;
        .circle {
            margin-top: 30px;
            margin-right: auto;
            margin-left: 0;
        }
    }
    .mini-floor-plan-block {
        @include size(2.5);
        align-self: center;
        .text-standart {
            font-family: $default-font2;
            font-size: 12px;
            line-height: 28px;
            /* identical to box height, or 233% */
            display: flex;
            align-items: center;
            /* Gray */
            color: #AAC0C9;
        }
        .link-standart {
            display: block;
            margin-top: 25px;
        }
    }
    .flat-info-block.last {
        @include size(2.4);
        @include shift-right(1);
        .button {
            margin-top: 75px;
            width: 270px;
        }
    }
    .flat-plan-block {
        cursor: zoom-in;
        display: flex;
        align-items: center;
        // @include size(2.5);
        @include size(3.5);
        img {
            object-fit: contain;
            max-height: 500px;
        }
    }
    .floor-plan-svg {
        // width: 188px;
        // height: 132px;
        width: 160px;
        height: 110px;
        margin-left: 0;
    }
    .flat-info-block__item {
        margin-top: 15px;
    }
    @include from(1680px) {
        .flat-plan-wrapper {
            height: calc(100vh - 470px);
        }
        .flat-info-block.last .button {
            width: 400px;
        }
        .mini-floor-plan-block .text-standart {
            font-size: 16px;
            line-height: 40px;
        }
        .mini-floor-plan-block .link-standart {
            margin-top: 40px;
        }
        .floor-plan-svg {
            width: 160px;
            height: 110px;
            margin-left: 0;
        }
        .pdf-link:before {
            content: '';
            background-image: url(../images/common/pdf-link.svg);
            background-size: 46px 66px;
            width: 46px;
            height: 66px;
            margin-right: 19px;
        }
        .flat-info-block__item {
            margin-top: 18px;
        }
        .flat-plan-block {
            @include size(3.5);
            img {
                max-height: 600px;
            }
        }
        .button {
            margin-top: 50px;
        }
    }
    @include from-to(769px, 1100px) {
        .breadcrumbs-wrapper .link-standart {
            margin-left: initial;
            margin-right: auto;
        }
        .flat-plan-block {
            @include size(3.5);
        }
    }
    @include to(768px) {
        --tablet-negative-margin: 55px;
        .wrapper.first {
            margin-bottom: calc(var(--tablet-negative-margin) * (-1) - 0.5em);
        }
        .breadcrumbs-wrapper {
            flex-wrap: wrap;
            margin-bottom: 0;
        }
        .breadcrumbs-wrapper .link-standart {
            margin-top: var(--tablet-negative-margin);
        }
        .flat-info-block.first {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 42px;
        }
        .flat-info-block.first .circle {
            margin-top: 0;
            margin-left: 30px;
            margin-right: initial;
        }
        .flat-plan-block {
            @include size(6);
        }
        .flat-info-block.last {
            @include size(4);
        }
        .flat-info-block.last .subtitle {
            margin-top: 16px;
            font-size: 36px;
        }
        .mini-floor-plan-block {
            @include size(4);
            order: 2;
        }
        .flat-info-block.last .button {
            width: 250px;
        }
        .flat-plan-block img {
            max-height: 450px;
        }
        .flat-plan-wrapper {
            margin: 20px auto;
        }
    }
    @include to(575px) {
        --tablet-negative-margin: 0px;
        .breadcrumbs-block {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            box-orient: vertical;
            .link {
                margin-right: 0;
            }
        }
        .breadcrumbs-wrapper>.link-standart {
            display: none;
        }
        .flat-plan-block {
            width: auto;
            &__item {
                margin-top: 7px;
            }
        }
        .flat-info-block.last {
            width: 100%;
            margin-right: 0;
            margin-top: 29px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .flat-info-block.last .button.text,
        .flat-info-block.last .pdf-link {
            grid-area: auto/1/auto/3;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
        .flat-info-block.last .subtitle {
            margin-top: 0;
            font-size: 32px;
        }
        .flat-info-block.last .button.text {
            margin-top: 50px;
        }
        .mini-floor-plan-block {
            width: 100%;
            margin-bottom: 30px;
            margin-top: 43.26px;
        }
    }
}

.floor-plan-svg .u-svg-plan--active {
    fill: var(--red);
    opacity: .75;
}


/* overlay at start */

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}


/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}


/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    transition-delay: .5s;
    animation: fadeInDown .5s 1 linear;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
}


/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
    animation: fadeInDown .5s 1 linear;
}


/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    // opacity: 0;
    animation: fadeInDown .5s 1 linear;
}

.mfp-img {
    background: var(--white);
}