.smarto-logo {
    &>img {
        width: 70px;
        height: 28px;
    }
    display: flex;
    align-items: flex-end;
    @include from(1680px) {
        &>img {
            width: 115px;
            height: 46px;
            margin-bottom: 15px;
        }
    }
    @include to(575px) {
        &>img {
            width: 55px;
            height: 22px;
            align-self: flex-start;
        }
    }
}

.footer-adress {
    color: var(--gray);
    font-size: 14px;
    line-height: 20px;
    max-width: 174px;
    padding-bottom: 50px;
    .button {
        margin-top: 12px;
        position: fixed;
        left: var(--side-fields);
        bottom: calc(var(--side-fields) - 10px);
    }
    @include from(1680px) {
        font-size: 20px;
        line-height: 28px;
        max-width: 240px;
        .button {
            ;
            bottom: calc(var(--side-fields) - 20px);
        }
    }
    @include to(768px) {
        .button {
            // bottom: calc(var(--side-fields) + 10px);
            bottom: calc(var(--side-fields));
        }
    }
    @include to(575px) {
        max-width: 65%;
        .button.text-small {
            display: none;
        }
    }
}

// #developers .page__footer-wrapper {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     width: 100%;
// }
.page__footer-wrapper {
    display: flex;
    height: 102px;
    font-family: $default-font2;
    // margin-top: -102px;
    justify-content: space-between;
    padding-left: var(--side-fields);
    padding-right: var(--side-fields);
    padding-top: 10px;
    padding-bottom: 10px;
    // position: relative;
    z-index: 2;
    @include from(1680px) {
        height: 150px;
    }
    @include to(575px) {
        height: 50px;
        padding-top: 0;
        margin-top: 0;
    }
}