.gallery-slider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    & img {
        object-fit: cover;
        object-position: top left;
        width: 100%;
        height: 100%;
    }
}

.gallery-page {
    height: 100vh;
    overflow: hidden;
    .breadcrumbs-wrapper {
        margin-top: 30px;
    }
}

#gallery,
#panorama {
    .page__footer-wrapper {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .slick-track,
    .slick-list {
        height: 100%;
    }
    .slick-slide {
        height: 100%;
    }
    .slider-numbers {
        width: 100%;
        margin-top: 30vh;
    }
    .circle-red-arrow {
        margin-left: auto;
        margin-right: 20vw;
        transition: opacity .2s;
        cursor: none;
    }
    .circle-red-arrow.left-side {
        transform: rotate(180deg);
    }
    .slick-slide:not(.slick-active) {
        animation: clipPathOut .5s 1 ease-in;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .slider-numbers {
        pointer-events: none;
    }
}

@keyframes clipPathOut {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
    }
}

#gallery {
    .mobile-arrows {
        position: relative;
        z-index: 1;
        width: max-content;
        margin: 0 auto;
        margin-top: auto;
        margin-bottom: 20px;
    }
    @include from(769px) {
        .mobile-arrows {
            display: none;
        }
    }
    @include to(768px) {
        .gallery-page {
            display: flex;
            flex-direction: column;
        }
    }
    @include to(575px) {
        min-height: -webkit-fill-available;
        height: -webkit-fill-available;
        .page__footer-wrapper {
            position: static;
        }
        .gallery-page {
            height: auto;
            margin-left: 0;
            margin-right: 0;
        }
        .page__content {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
        .breadcrumbs-wrapper {
            margin-top: 0;
        }
        .slider-numbers {
            // display: none;
            margin-top: 0;
            width: auto;
            margin-right: auto;
        }
        .gallery-slider {
            position: static;
            height: calc(100vh - (107px + 140px));
        }
        .mobile-arrows {
            align-items: center;
            width: 100%;
            margin-top: 15px;
            padding: 0 var(--side-fields);
        }
    }
}

#panorama {
    @include to(575px) {
        .breadcrumbs-wrapper {
            margin-top: 0;
        }
    }
}