* {
    --black: #000000;
    --blue: #00395A;
    --pink: #F8D5D4;
    --white: #ffffff;
    --dark-gray: #6C7C84;
    --gray: #AAC0C9;
    --red: #B3717B;
    --hz: #CFDDE4;
    --shta: #F4F9FB;
    --side-fields: 30px;
    --transition: .5s;
    @include to(768px) {
        --side-fields: 10px;
    }
}

a[href] {
    text-decoration: none;
}

a:-webkit-any-link {
    color: inherit;
}

.logo {
    --logo-width: 151px;
    width: var(--logo-width);
    height: calc(var(--logo-width * 0.39));
}

.main-screen {
    min-height: 100vh;
    background: url(../images/home/BG.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0 var(--side-fields) 30px var(--side-fields);
    .title-wrapper {
        @include size(5);
        @include shift-right(1.5);
        @include shift-padding-left(0.5);
        position: relative;
        .button {
            margin-top: 34px;
        }
    }
    .developers-row {
        width: 100%;
        display: flex;
        margin-top: auto;
    }
    .perfect-logo {
        width: 150px;
        height: 24px;
    }
    .citex-logo {
        width: 58px;
        height: 28px;
    }
    .developers-title {
        color: var(--blue);
        font-size: 12px;
        line-height: 28px;
        margin-left: auto;
    }
    .developer-logo {
        margin-left: 20px;
    }
}

.about-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .text-block {
        position: relative;
        @include shift-padding-left(0.4);
        @include size(4);
        @include shift-left(1);
    }
    &>img {
        @include size(6.74);
        margin-left: auto;
        margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
    }
    .button {
        margin-top: 40px;
    }
    .title-large {
        margin-bottom: 10px;
    }
}

.scroll-block {
    position: relative;
    &>img {
        margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
        @include size(6.74);
        margin-left: auto;
    }
    .scroll-element {
        position: absolute;
        top: 20%;
        left: 40%;
        font-size: 400px;
        line-height: 0.75em;
        letter-spacing: 0.05em;
        color: transparent;
        -webkit-text-stroke: 2px var(--gray);
    }
    .blue {
        color: var(--blue);
        -webkit-text-stroke: 0px transparent;
    }
}

.choose-flat {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &>img {
        margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
        @include size(6);
        margin-right: auto;
    }
    .title-large {
        margin-bottom: 10px;
    }
    .text-block {
        position: relative;
        @include size(4);
        @include shift(1);
        @include shift-padding-left(0.4);
    }
    .button {
        margin-top: 40px;
    }
}

.news-layout {
    position: relative;
    .bg-logo {
        position: absolute;
        bottom: -10%;
        right: calc(var(--side-fields) - var(--side-fields) * 2);
        width: 12%;
        height: 50%;
        background: url(../images/home/logo-background.png) center no-repeat;
        background-size: contain;
        z-index: 0;
        pointer-events: none;
    }
}

.news-block {
    position: relative;
    min-height: 50vh;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    .bg-title-large {
        position: absolute;
        top: 0;
        left: var(--side-fields);
    }
    .title-large {
        margin-bottom: 12px;
    }
    .news-date {
        margin-bottom: 12px;
    }
    &__slider {
        @include size(6);
        @include shift-left(3);
        overflow: hidden;
    }
    a.button {
        height: 50px;
        max-width: 250px;
        margin-top: 40px;
    }
    .news-slide {
        @include size(6);
        margin-right: 20px;
    }
    .text-standart {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        line-clamp: 5;
        box-orient: vertical;
    }
    .buttons-block {
        @include size(2.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.main-screen-template-page {
    padding-top: 95px;
    .title-wrapper {
        @include size-lg(5);
        @include size-md(6);
        @include size-sm(10);
        @include size-xs(12);
    }
    .common-label {
        display: none;
    }
    .title-template-page {
        font-size: 56px;
    }
    .common-input {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
        line-height: 1.6em;
        color: var(--blue);
        border-bottom: 1px solid var(--gray);
        width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        transition: .5s;
        margin-top: 1.5em;
    }
    .common-input::placeholder {
        color: var(--blue);
    }
    .form-legend {
        font-size: 18px;
        line-height: 1.6em;
        color: var(--blue);
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .button {
        padding-left: 10%;
        padding-right: 10%;
        height: 50px;
        font-size: 25px;
        letter-spacing: 0.025em;
        padding-left: 1%;
        padding-right: 1%;
        width: 100%;
    }
    .button::after {
        content: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0764 -9.15527e-05L10.1239 0.966584L15.3801 6.30936H-0.000488281V7.69033H15.3801L10.1239 13.0332L11.0764 13.9999L17.9995 6.99985L11.0764 -9.15527e-05Z' fill='white'/%3E%3C/svg%3E%0A");
        margin-left: 25px;
    }
    .input-group {
        position: relative;
    }
    .error-span {
        // display: none;
        position: absolute;
        top: 0.5em;
        color: var(--red);
    }
    .unfilled {
        border-bottom-color: var(--red);
    }
    .footer-adress {
        color: var(--white);
        font-size: 18px;
        max-width: 230px;
    }
    .footer-adress:before {
        content: url(../images/common/pin.svg);
        margin-right: 5px;
    }
    @include to(768px) {
        padding-top: 95px;
        .title-template-page {
            font-size: 36px;
            @include shift(0);
        }
    }
    @include to(480px) {
        .button {
            font-size: 18px;
            height: 36px;
        }
    }
}

@include to(768px) {
    .logo {
        --logo-width: 100px;
    }
    .header-telephone {
        font-size: 18px;
    }
}

@include to(480px) {
    header.header {
        position: absolute;
    }
    .developers-row {
        flex-wrap: wrap;
    }
    .footer-adress {
        width: 100%;
        max-width: none;
        margin-bottom: 1em;
    }
    .main-screen-template-page .developers-title {
        margin-left: 0;
    }
    .lang-block {
        right: 10px;
    }
}