#map {
    width: 100%;
    height: calc(100vh - 182px);
    // height: 556px;
}

#infrastructure {
    .breadcrumbs-wrapper {
        margin-bottom: 15px;
    }
    .breadcrumbs-wrapper .link-standart {
        margin-left: auto;
    }
    @include to(768px) {
        .breadcrumbs-wrapper .link-standart.key-before {
            display: none;
        }
    }
}