#map {
    width: 100%;
    height: calc(100vh - 182px);
    // height: 556px;
    @include to(575px) {
        height: calc(100vh - 210px);
    }
}

#infrastructure {
    .page__footer-wrapper {
        margin-top: -102px;
        .footer-adress .button {
            position: static;
        }
    }
    .breadcrumbs-wrapper {
        margin-bottom: 15px;
    }
    .breadcrumbs-wrapper .link-standart {
        margin-left: auto;
    }
    @include to(768px) {
        .breadcrumbs-wrapper .link-standart.key-before {
            display: none;
        }
    }
    @include to(575px) {
        .page__content>.link-standart {
            margin-top: 30px;
            margin-bottom: 40px;
            margin-left: 10px;
            display: inline-block;
        }
        .page__footer-wrapper {
            margin-top: 0;
        }
    }
}

@include from(576px) {
    .mobile-infra-legend {
        display: none;
    }
}

.mobile-infra-legend {
    position: relative;
    max-height: 54px;
    overflow: hidden;
    transition: .5s;
    &.opened {
        max-height: none;
        position: fixed;
        top: 65px;
        left: 10px;
        width: calc(100% - 20px);
    }
    &__icon-wrapper {
        transition: .7s;
        transform: scaleY(0);
        transform-origin: top;
    }
    &.opened &__icon-wrapper {
        transform: scaleY(1);
    }
    &__title {
        background-color: var(--blue);
        line-height: 54px;
        color: var(--white);
        font-size: 20px;
        line-height: 54px;
        text-align: center;
    }
    &__close {
        background: var(--red);
        border-radius: 50%;
        position: absolute;
        right: 12px;
        top: 14px;
    }
    &__icon-wrapper {
        background-color: var(--shta);
        font-family: $default-font2;
        font-size: 14px;
        line-height: 44px;
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: calc(10px + 164px + 54px + 54px);
        overflow-y: scroll;
    }
    &__icon-row {
        color: var(--gray);
        display: flex;
        align-items: center;
        height: 54px;
        padding-left: 26px;
    }
    &__icon-row.active {
        color: var(--blue);
    }
    &__icon-row.active &__icon-img {
        fill: var(--blue);
    }
    &__icon-img {
        width: 32px;
        height: 33px;
        fill: var(--gray);
    }
    &__icon-text {
        margin-left: 15px;
    }
}