@import '../scripts/libs/magnific-popup/dist/magnific-popup';
@import '../scripts/libs/slick/slick';
@import '../scripts/libs/hover-css/hover-min';
@import '../scripts/libs/datetimepicker/datetimepicker';