#location {
    .page__footer-wrapper {
        margin-top: -102px;
    }
    @include to(575px) {
        .page__footer-wrapper {
            margin-top: 0;
        }
        .breadcrumbs-wrapper .link-standart {
            display: none;
        }
    }
}

.location-wrapper {
    @include size(12);
    @include shift-padding(1.8);
    display: flex;
    flex-wrap: wrap;
    .vertical-line {
        left: -20px;
    }
    &__description-text {
        @include size(6);
        margin-left: auto;
    }
    .title-wrapper {
        @include size(6);
        padding-left: 40px;
        margin-left: -40px;
    }
    .arrows-container {
        height: 135px;
        width: 50px;
        flex-direction: column;
        justify-content: space-between;
        .previous {
            transform: rotate(-90deg);
        }
        .next {
            transform: rotate(90deg);
        }
        margin-left: auto;
    }
    &__slider-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__slider-wrapper .subtitle {
        width: calc(100% / 8 * 3 - #{$offset});
    }
    &__slider {
        width: calc(100% / 8 * 4 - #{$offset});
        margin: 0 auto;
    }
    &__slider .slide {
        display: flex;
        align-items: center;
    }
    &__map-block {
        width: 100%;
        height: 556px;
        position: relative;
        margin-top: 85px;
        margin-bottom: 130px;
        overflow: hidden;
    }
    &__map-block-info {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--shta);
        padding-bottom: 25px;
        padding-top: 20px;
        padding-left: calc(100% / 8 - #{$offset});
        padding-right: calc(100% / 8 * 0.7 - #{$offset});
    }
    &__map-block-info svg {
        width: 18.34px;
        height: 12.1px;
        margin-right: 6px;
    }
    &__map-block-info &__map-block #map {
        width: 100%;
        height: 556px;
    }
    @include to(768px) {
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        width: calc(100% + (var(--side-fields) * 2));
        margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
        .title-wrapper {
            @include size(7);
            @include shift-left(2);
        }
        &__description-text {
            @include size(7);
            margin-top: 10px;
            @include shift-left(2.5);
        }
        &__map-block {
            margin-top: 30px;
            height: 506px;
            margin-bottom: 80px;
        }
        &__map-block-info {
            left: auto;
            right: 0;
            padding-bottom: 30px;
            padding-top: 15px;
            padding-left: 36px;
            padding-right: calc(100% / 8 * 0.7 - #{$offset});
            width: 60%;
        }
        &__map-block-info .subtitle {
            font-size: 36px;
            line-height: 1.33em;
        }
        &__map-block-info .text-standart {
            font-size: 10px;
            line-height: 2.8em;
            margin-bottom: -1em;
        }
        &__map-block-info .link-standart {
            display: inline-block;
            margin-top: 7px;
        }
        &__slider-wrapper {
            @include shift-padding(1);
        }
        .big-red-digit {
            font-size: 200px;
        }
    }
    @include to(575px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        .title-wrapper {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            padding-left: 17px;
        }
        .title-large {
            font-size: 32px;
            line-height: 1.25em;
        }
        &__description-text {
            margin-left: 17px;
            width: 100%;
        }
        .vertical-line {
            left: -12px;
        }
        &__map-block {
            height: 75vh;
            width: calc(100% + (var(--side-fields) * 2));
            margin-left: calc(var(--side-fields) - (var(--side-fields) * 2));
            margin-right: calc(var(--side-fields) - (var(--side-fields) * 2));
            margin-bottom: 35px;
        }
        &__map-block-info {
            width: 100%;
            padding-left: var(--side-fields);
            padding-bottom: 28px;
            padding-top: 18px;
        }
        &__map-block-info .subtitle {
            font-size: 26px;
            line-height: 36px;
            margin-bottom: 16px;
        }
        &__slider-wrapper {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
        &__slider-wrapper .subtitle {
            width: 100%;
        }
        &__slider {
            width: 100%;
        }
        .arrows-container {
            width: auto;
            // margin-left: auto;
            // margin-right: auto;
            margin: 40px auto;
            height: auto;
            flex-direction: row;
            .previous {
                transform: rotate(-180deg);
                width: 44px;
                height: 44px;
            }
            .previous svg {
                width: 12px;
                height: 14px;
            }
            .next {
                transform: rotate(0);
            }
        }
        .big-red-digit {
            font-size: 150px;
        }
    }
}

.big-red-digit {
    font-size: 240px;
    line-height: 1em;
    color: var((--red));
    margin-right: 20px;
}

.location-bottom-block {
    margin-top: 180px;
    font-size: 0;
    display: flex;
    &__text {
        width: 50%;
        background-color: var(--shta);
        vertical-align: top;
        padding-top: 73px;
        padding-bottom: 73px;
        padding-left: calc(100% / 12 - #{$offset});
        padding-right: calc(100% / 12 - #{$offset});
    }
    &__image {
        width: 50%;
        object-fit: cover;
    }
    .title-wrapper {
        padding-left: 60px;
        margin-left: -60px;
        margin-bottom: 35px;
    }
    .text-standart {
        margin-bottom: 35px;
    }
    @include to(768px) {
        margin-top: 80px;
        .title-wrapper {
            padding-left: 40px;
            margin-left: -40px;
            margin-bottom: 10px;
        }
        .vertical-line {
            top: 10px;
        }
        &__image {
            object-position: left;
        }
    }
    @include to(575px) {
        margin-top: 0;
        margin-bottom: 30px;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        &__text {
            width: 100%;
            padding: 25px calc(var(--side-fields) + 17px) 38px calc(var(--side-fields) + 17px);
        }
        &__image {
            width: 100%;
        }
        .title-wrapper {
            padding-left: 25px;
            margin-left: -25px;
            margin-bottom: 10px;
        }
        .vertical-line {
            left: -7px;
        }
    }
}