#news {
    @include from(1680px) {
        .wrapper.first {
            padding-right: calc(100% / 12 + 20px + var(--side-fields));
        }
    }
}

.news-wrapper {
    @include shift-padding-left(1);
    .mobile-pagination {
        margin: 60px auto 0 auto;
    }
    @include from(1680px) {
        @include shift-padding-left(2);
        @include shift-padding-right(1);
    }
    @include from(769px) {
        .mobile-pagination {
            display: none;
        }
    }
    @include to(575px) {
        @include shift-padding-left(0);
        .mobile-pagination {
            background: transparent;
            color: var(--red);
            text-decoration: underline;
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .mobile-pagination:after {
            display: none;
        }
    }
}

.news-navigation-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .select-box {
        // margin-right: auto;
    }
    .years-slider {
        margin-left: auto;
        margin-right: auto;
    }
    @include shift-padding-left(1);
    @include to(768px) {
        @include shift-padding-left(0);
    }
    @include to(575px) {
        .years-slider {
            margin-right: 48px;
        }
    }
}

.years-arrows {
    display: flex;
    &>div:first-child {
        margin-right: 60px;
    }
    & svg {
        cursor: pointer;
        transition: .5s;
        fill: #CFDDE4;
    }
    & svg:hover {
        fill: #6C7C84;
    }
    .next,
    .previous {
        cursor: pointer;
    }
    .next svg {
        fill: #6C7C84;
    }
    @include from(1680px) {
        & svg {
            width: 107px;
            height: 20px;
        }
        &>div:first-child {
            margin-right: 86px;
        }
    }
    @include to(768px) {
        margin-left: 40px;
        &>div:first-child {
            margin-right: 25px;
        }
    }
    @include to(575px) {
        display: none;
    }
}

.news-articles-wrapper {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
}

.news-article {
    @include size(6);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &:nth-child(n+3) {
        margin-top: 50px;
    }
    &__img {
        @include size(6);
        padding-right: 20px;
        object-fit: cover;
        object-position: left;
        max-height: 180px;
        height: 180px;
        max-width: 180px;
    }
    &__text {
        @include size(7);
    }
    a.button {
        margin-top: 50px;
        max-width: 250px;
        height: 50px;
    }
    .subtitle {
        margin-bottom: 10px;
    }
    .news-date {
        margin-bottom: 15px;
    }
    .text-standart {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }
    @include from(1680px) {
        &__text {
            @include size(6.8);
        }
        &__img {
            max-height: 255px;
            height: 255px;
            max-width: 255px;
            padding-right: 0px;
            margin-right: 36px;
        }
        .subtitle {
            font-size: 36px;
            margin-bottom: 23px;
        }
        a.button {
            // max-width: 350px;
            // height: 72px;
        }
        .text-standart {
            -webkit-line-clamp: 5;
            line-clamp: 5;
        }
        &:nth-child(n+3) {
            margin-top: 120px;
        }
    }
    @include from(769px) {
        padding: 20px;
        padding-bottom: 45px;
        transition: .5s;
        &:hover {
            box-shadow: 0px 30px 50px rgba(0, 57, 90, 0.15);
            padding: 20px;
            padding-bottom: 45px;
        }
        .hvr-bounce-to-right:hover {
            border-color: transparent;
        }
    }
    @include to(768px) {
        @include size(9);
        @include shift-left(2);
        &:nth-child(n+3),
        & {
            margin-top: 50px;
        }
        &__img {
            max-width: none;
        }
    }
    @include to(575px) {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        &__img {
            width: 100%;
            padding-right: 0;
        }
        &:nth-child(n+3),
        & {
            margin-top: 40px;
        }
        &:first-child {
            margin-top: 0;
        }
        &__text {
            width: 100%;
            margin-top: 25px;
        }
        a.button {
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}