.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../images/home/BG.jpg) left no-repeat;
    background-size: cover;
    margin-block-start: 0;
    margin-block-end: 0;
    z-index: 50;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: 1s;
    transition-timing-function: ease-in-out;
    transform: translateX(100vw);
    &.opened {
        transform: translate(0);
    }
    .logo {
        margin-left: 30px;
        margin-top: 40px;
    }
    &__content {
        padding: 30px 40px 35px 60px;
        transition-delay: 1s;
        transition: .5s;
        background-color: #00395ae3;
        transform: translateX(100%);
        width: 50%;
        height: 100vh;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
    }
    &.opened &__content {
        transform: translateX(0%);
    }
    .button {
        margin-top: 5px;
        width: 170px;
    }
    &__top-blocks {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__group {
        width: 50%;
    }
    &__group>li {
        margin-bottom: 8px;
    }
    &__big-links-group {
        display: flex;
        flex-wrap: wrap;
        height: 150px;
    }
    &__large-span,
    &__large-span[href] {
        font-size: 24px;
        line-height: 1.44em;
        letter-spacing: 0.025em;
        color: var(--white);
    }
    &__large-span a {
        color: var(--white);
    }
    &__standart-span,
    &__standart-span[href] {
        font-family: $default-font2;
        font-size: 14px;
        line-height: 2em;
        color: var(--gray);
    }
    &__big-links-group &__large-span {
        width: 50%;
        margin-bottom: 15px;
        height: 1.44em;
    }
    &__tel-link[href],
    &__adress-link[href] {
        font-family: $default-font2;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.43em;
        color: rgba(170, 192, 201, 0.6);
        height: 1.43em;
    }
    &__tel-link[href] {
        display: flex;
        align-items: center;
    }
    &__tel-link>svg {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    &__adress-link>svg {
        width: 11px;
        height: 16px;
        margin-right: 11px;
    }
    .close-button {
        color: rgba(170, 192, 201, 0.6);
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 150px;
        height: 40px;
        margin-left: auto;
        cursor: pointer;
    }
    .close-button>svg {
        transition: .5s;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
    .close-button:hover svg {
        transform: rotate(180deg);
    }
    &__bottom-links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 40px;
        margin-top: auto;
        align-items: center;
    }
    &__bottom-links>a {
        width: 50%;
    }
    .logo-menu-mobile {
        width: 150px;
        height: 60px;
    }
    @include from(769px) {
        .logo-menu-mobile {
            display: none;
        }
    }
    @include to(768px) {
        margin-top: 0;
        margin-left: 0;
        overflow-x: hidden;
        min-height: -webkit-fill-available;
        height: auto;
        .button {
            margin-left: auto;
        }
        &__content {
            width: 100%;
            overflow-x: hidden;
            min-height: 100%;
            height: -webkit-fill-available;
            // height: 100%
        }
        .menu-logo {
            display: none;
        }
        padding-inline-start: 0;
        -webkit-padding-start: 0;
    }
    @include from(576px) {
        &__lang-block-mobile {
            display: none;
        }
    }
    @include to(575px) {
        z-index: -1;
        &__content {
            padding: var(--side-fields);
            top: 50px;
            padding-top: 70px;
        }
        .logo-menu-mobile {
            width: 77px;
            height: 30px;
        }
        &__top-blocks {
            display: none;
        }
        &__large-span,
        &__large-span[href] {
            font-size: 18px;
            line-height: 2em;
            letter-spacing: 0.025em;
            color: var(--white);
        }
        &__standart-span,
        &__standart-span[href] {
            font-size: 12px;
            line-height: 2.33em;
        }
        &__big-links-group &__large-span {
            line-height: 1em;
        }
        &__tel-link[href] {
            font-size: 12px;
            line-height: 20px;
        }
        &__adress-link[href] {
            display: none;
        }
        &__tel-link>svg {
            width: 20px;
            height: 20px;
        }
        &__big-links-group {
            height: 125px;
        }
        &__bottom-links {
            height: 26px;
        }
        &__lang-block-mobile {
            width: 120px;
            display: flex;
            position: static;
            color: var(--white);
        }
        &__lang-block-mobile .lang {
            margin-bottom: 0;
            font-size: 12px;
            height: 26px;
            width: 26px;
            margin-right: 10px;
            color: var(--gray);
        }
    }
}