.web-camera-page {
    display: flex;
    flex-wrap: wrap;
    .breadcrumbs-wrapper {
        width: 100%;
        margin-bottom: 20px;
        @include shift-padding-right(1.3);
    }
    .breadcrumbs-wrapper .link-standart {
        margin-left: auto;
    }
    .webcam-links {
        @include size(2);
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        a.active {
            color: var(--blue);
            background-color: var(--hz);
            border-color: var(--hz);
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            width: 170px;
            border-radius: 25px;
            color: var(--gray);
            height: 30px;
            border: 1px solid var(--gray);
            letter-spacing: 0.025em;
        }
        a:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    .webcam-frame {
        @include size(7);
        @include shift-right(1);
        @include shift-left(1);
        transition: .5s;
        iframe {
            width: 100%;
            display: none;
        }
        iframe.active {
            display: initial;
        }
    }
    @include from(1680px) {
        .webcam-links a {
            width: 240px;
            height: 44px;
            font-size: 25px;
        }
    }
    @include to(768px) {
        .webcam-links {
            @include size(12);
            padding-top: 47px;
            flex-direction: row;
            a {
                margin-right: 45px;
            }
        }
        .webcam-frame {
            width: 100%;
            margin-right: 0;
        }
        .breadcrumbs-wrapper {
            padding-right: 0;
        }
        .webcam-links a:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @include to(575px) {
        .breadcrumbs-wrapper .link-standart {
            display: none;
        }
        .breadcrumbs-wrapper {
            margin-bottom: 12px;
        }
        .webcam-links {
            padding-top: 0;
            width: 100%;
            margin-bottom: 35px;
            a {
                margin-right: 10px;
            }
        }
        .webcam-frame {
            height: 50vh;
            iframe {
                height: 100% !important;
            }
        }
    }
}